.modal {
  position: relative;
  min-width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);

  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-bottom: 30px;
    @include font(20px, 700, 23px);
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color);
    fill: currentColor;
    transition: color 250ms var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
}
